.container {
  display: grid;
  grid-template-rows: 48px 1fr;
  grid-template-columns: auto 1fr;
  height: 100%;
  color: #fff;
  background: #fff1;
  border-top: 1px solid #fff5;
  border-left: 1px solid #fff5;
  border-radius: 12px 0 0;
}

.appName {
  display: grid;
  grid-row: 1;
  grid-column: 1 / 3;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #fff5;
}

.leftContent {
  position: relative;
  grid-row: 2;
  grid-column: 1 / 2;
}

.rightContent {
  grid-row: 2;
  grid-column: 2 / 3;
  padding: 16px 20px 24px 8px;
  overflow: auto;
}

.iframe {
  position: absolute;
  top: calc(9.2% + 36px);
  left: 11.5%;
  display: block;
  width: 77.5%;
  height: calc(93% - 9.2% - 36px);
  background: #fff;
  border: none;
}

.header {
  position: absolute;
  top: 5.5%;
  left: 0;
  left: 11.5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 77.5%;
  height: calc(9.2% + 36px - 5.5%);
  padding-bottom: 6px;
  background: #fff;
}

.addressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 16px);
  padding: 4px 0;
  font-size: 12px;
  color: #222;
  background: #e0e0e0;
  border-radius: 6px;
}

.reload {
  position: absolute;
  right: 14px;
  bottom: 4px;
  cursor: pointer;
}

.notch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  overflow: hidden;
}

.notchContent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 2% 16%;
}

.notchGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 1.5vh;
  font-weight: bold;
  color: #222;
}

.notchGroup svg {
  width: 33%;
  height: auto;
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.linkContainer > div {
  width: 50%;
  padding: 6px;
}

.linkCard {
  display: flex;
  gap: 12px;
  padding: 4px 12px 10px;
  border: 1px solid #fff8;
  border-radius: 8px;
  transition: 0.2s;
}

.linkCard:hover {
  background: #fff1;
}

.linkIcon {
  padding-top: 6px;
}

.linkTexts {
  overflow: hidden;
}

.linkLabel {
  font-size: 24px;
}

.linkHref {
  width: 300px;
  overflow: hidden;
  font-size: 12px;
  text-decoration: underline;
  white-space: nowrap;
}
