.container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #00bfa5;
  min-height: 100vh;
}

.chat {
  background-color: #00bfa5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.left {
  align-self: flex-start;
  background-color: #e6e6e6;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.right {
  align-self: flex-end;
  background-color: #0099ff;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
