.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #eee;
}

.chatWindow {
  width: 30%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 20px;
  background-color: #00c300;
  color: white;
  font-weight: bold;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.footer {
  padding: 10px 20px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
}

.inputField {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
