.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.createBtn {
  padding: 8px 12px;
}

.itemContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  overflow: auto;
}

.appItem {
  padding: 10px 12px;
  font-size: 12px;
  cursor: pointer;
  background: #fff1;
  border: 1px solid #fff5;
  border-radius: 6px;
  transition: 0.2s;
}

.appItem:hover {
  background: #fff2;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemHeader {
  display: flex;
  gap: 4px;
  align-items: center;
}

.statusCircle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.modelLabel {
  padding: 1px 6px 2px;
}

.author {
  margin-left: auto;
  overflow: hidden;
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
