.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
  border-right: 1px solid var(--border-color);
}

.createBtn {
  padding: 12px;
  border-bottom: 1px solid var(--border-color);
}

.appItem {
  padding: 10px 16px;
  font-size: 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee1;
  transition: 0.2s;
}

.appItem:hover {
  background: #fff2;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemBottom {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 11px;
  color: #ccc;
}

.statusCircle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.modelLabel {
  padding: 1px 6px 2px;
}

.date {
  margin-left: auto;
}
