.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.createBtn {
  padding: 4px 12px 8px;
}

.searchBox {
  position: relative;
  padding: 4px 12px;
}

.searchInput {
  width: 100%;
  padding: 6px 8px 6px 28px;
  color: #fff;
  background: #fff1;
  border: none;
  border-bottom: 1px solid #777;
  transition: 0.2s;
}

.searchInput:focus {
  border-bottom-color: #fff;
  outline: none;
}

.searchInput::placeholder {
  color: #bbb;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50%;
  display: flex;
  align-items: center;
}

.itemContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  overflow: auto;
}

.appItem {
  padding: 10px 12px;
  font-size: 12px;
  cursor: pointer;
  background: #fff1;
  border: 1px solid #fff5;
  border-radius: 6px;
  transition: 0.2s;
}

.appItem:hover {
  background: #fff2;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemHeader {
  display: flex;
  gap: 4px;
  align-items: center;
}

.statusCircle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.modelLabel {
  padding: 1px 6px 2px;
}

.author {
  margin-left: auto;
  overflow: hidden;
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loginMsg {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 5px 12px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}
