.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border: 1px solid #fff5;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}

.header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 12px;
  color: #fff;
  background: #fff1;
  border-bottom: 1px solid #fff5;
}

.modelLabel {
  padding: 2px 10px 4px;
  margin-right: auto;
  font-weight: bold;
  border: 1px solid #fff8;
  border-radius: 14px;
}

.mainContainer {
  position: absolute;
  width: 100%;
  background: #fff1;
  border: none;
}

.contentTitle {
  font-size: 18px;
  font-weight: bold;
}

.contentTitle:hover {
  text-decoration: underline;
}

.commitLink {
  margin-right: auto;
}

.commitLink:hover {
  text-decoration: underline;
}
