.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border: 1px solid #fff5;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}

.header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 12px;
  color: #fff;
  background: #fff1;
  border-bottom: 1px solid #fff5;
}

.authorLink {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.authorLink:hover {
  text-decoration: underline;
}

.indexLabel {
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
}

.mainContainer {
  position: absolute;
  width: 100%;
  background: #fff1;
  border: none;
}

.nameLabel {
  font-weight: bold;
}

.sentTime {
  font-size: 12px;
  color: #ddd;
}

.contentTitle {
  font-weight: bold;
}

.contentTitle:hover {
  text-decoration: underline;
}

.commitLink:hover {
  text-decoration: underline;
}
