/* stylelint-disable selector-class-pattern */
.cs-message__content {
  margin-top: 16px;
  color: #fff !important;
  background: #fff1 !important;
  border: 1px solid #fffa;
}

.cs-message__sent-time {
  color: #fff !important;
}
