/* stylelint-disable selector-class-pattern */
.cs-message__content {
  margin-top: 16px;
  color: #fff !important;
  background: #fff1 !important;
  border: none;
}

.cs-message__sent-time {
  color: #fff !important;
}

.cs-message-input__content-editor::before {
  color: #fffa !important;
}

.cs-message-input__content-editor {
  color: #fff !important;
  caret-color: #fff;
}

.cs-message-input__content-editor-wrapper {
  background: #fff2 !important;
}

.cs-message-input,
.cs-message-input__content-editor,
.cs-message-input__content-editor-container,
.cs-message-input__content-editor::before {
  background: transparent !important;
}
