html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.1em;
  background: #0d1117;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --theme-font-color: #fff;
  --border-color: #ccc7;
  --primitive: #259d63;
  --warning: #f30;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  transition: 0.5s;
}

::-webkit-scrollbar-track:hover {
  background: #fff3;
}

::-webkit-scrollbar-thumb {
  background: #fff5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff7;
}
