html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.1em;
  background: linear-gradient(to right, #141e30, #243b55);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --theme-font-color: #ff8;
  --main-font-color: #fff;
  --warning: #f30;
  --border-color: #883;
}
